.contain {
  background-image: url('../assets/images/screenfull/riskcockpit_bg.png');
  background-color: #040711;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
}
.contain .top {
  background-image: url('../assets/images/screenfull/risk_title.png');
  position: relative;
  background-size: 95% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
}
.contain .top .logo-img {
  color: white;
  height: 50px;
  width: 160px;
  position: absolute;
  left: 40px;
}
.contain .top .title {
  color: #FFFFFF;
  text-shadow: 2px 2px 7px #00A3FF;
  font-family: YouSheBiaoTiHei;
  font-weight: regular;
  font-size: 46px;
  line-height: normal;
  letter-spacing: 30px;
  text-align: center;
  margin-top: 12px;
  padding-top: 6px;
  padding-left: 40px;
}
.contain .top .close-img {
  width: 51px;
  height: 20px;
  position: absolute;
  right: 40px;
  top: 30px;
  cursor: pointer;
}
.contain .pet {
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s;
}
.contain .pet:hover {
  transform: scale(1.1);
}
.contain .dataMan {
  user-select: none;
  z-index: 999;
  cursor: pointer;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  right: 0;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: right center;
}
@keyframes slide-out {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.contain .content {
  margin: 30px 22px 2px;
  display: flex;
}
.contain .content .subtitle {
  width: 472px;
  height: 35px;
  position: relative;
}
.contain .content .subtitle .subtitle-text {
  color: #75BDFF;
  font-family: YouSheBiaoTiHei;
  font-weight: regular;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 9px;
  position: absolute;
  z-index: 3;
}
.contain .content .subtitle .subtitle-img {
  height: 70px;
  width: 510px;
  position: absolute;
  top: -5px;
  left: 0;
}
.contain .content .left .button-wrap {
  margin-top: 12px;
  display: flex;
  height: 40px;
  justify-content: end;
  margin-bottom: 15px;
}
.button-wrap select{
  background: #040711;
  color: #31fbfb;
  margin-right: 25px;
}
.contain .content .left .button-wrap .button-text {
  color: #129BFFB2;
  font-family: YouSheBiaoTiHei;
  font-weight: regular;
  font-size: 16px;
  letter-spacing: 0px;
  text-align: center;
  height: 40px;
  width: 136px;
  line-height: 40px;
  cursor: pointer;
}
.contain .content .left .button-wrap .button-active {
  background: #2385DF0C;
  border: 2px solid #0D6DC5;
}
.contain .content .left .customer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
  margin-bottom: 10px;
}
.contain .content .left .customer .customer-img {
  height: 120px;
  width: 120px;
  margin-right: 20px;
}
.contain .content .left .customer .customer-num {
  color: #31FBFB;
  text-shadow: 0px 1px 12px 0px #84D7FFCC;
  font-family: Courier New;
  font-weight: Bold Italic;
  font-size: 48px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  width: 222px;
}
.contain .content .left .customer .customer-num .ge {
  font-size: 20px;
}
.contain .content .left .customer .customer-text {
  color: #E6F7FFB2;
  font-family: PingFang-SC;
  font-weight: regular;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
}
.contain .content .left .smoke-level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
}
.contain .content .left .smoke-level .level-color {
  display: flex;
  align-items: center;
  position: relative;
}
.contain .content .left .smoke-level .level-color .level-img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.contain .content .left .smoke-level .level-color .level-content {
  margin-top: 28px;
  margin-left: 40px;
  width: 82px;
}
.contain .content .left .smoke-level .level-color .level-num {
  color: #FFFFFF;
  text-shadow: 0px 0px 8px #20B4FA93;
  font-family: PingFang-SC;
  font-weight: regular;
  font-size: 22px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
}
.contain .content .left .smoke-level .level-color .level-text {
  color: #FFFFFFCC;
  text-shadow: 0px 0px 8px #20B4FA93;
  font-family: PingFang-SC;
  font-weight: medium;
  font-size: 10px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
}
.contain .content .left .smoke-level .level-color .level-ge {
  font-size: 12px;
}
.contain .content .left .pie-3d {
  height: 230px;
  width: 450px;
  margin-bottom: 52px;
}
.contain .content .left .smoke-trend {
  position: relative;
}
.contain .content .left .smoke-trend .trend-chart {
  height: 275px;
  width: 472px;
  margin-top: 22px;
}
.contain .content .left .smoke-trend .smoke-trend-line {
  width: 469px;
  height: 7px;
  position: absolute;
  bottom: 0;
  right: 12px;
  transform: rotate(180deg);
}
.contain .content video::-webkit-media-controls-volume-slider {
  display: none;
}
.contain .content video::-webkit-media-controls-mute-button {
  display: none;
}
.contain .content .middle {
  margin: 0 48px;
  position: relative;
}
.contain .content .middle #loadingMessage {
  color: white;
  background: #d6d3d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.contain .content .middle .map {
  position: relative;
  width: 795px;
  height: 625px;
}
.contain .content .middle .map .map-bg {
  position: absolute;
  top: 17px;
  left: 0;
  width: 795px;
  height: 610px;
}
.contain .content .middle .map .map-round-bg {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 785px;
  height: 610px;
}
.contain .content .middle .map .map-top-bg {
  position: absolute;
  top: -26px;
  left: -26px;
  width: 847px;
  height: 64px;
}
.contain .content .middle .map .mapline-top {
  position: absolute;
  left: 12px;
  top: 12px;
  width: 772px;
}
.contain .content .middle .map .mapline-bottom {
  position: absolute;
  left: 12px;
  bottom: 0px;
  width: 772px;
}
.contain .content .middle .map .mapline-left {
  position: absolute;
  left: 0;
  top: 16px;
  height: 600px;
}
.contain .content .middle .map .mapline-right {
  position: absolute;
  right: 0;
  top: 16px;
  height: 600px;
}
.contain .content .middle .wordcloud {
  position: relative;
}
.contain .content .middle .wordcloud .wordcloud-title {
  color: #75BDFF;
  font-family: YouSheBiaoTiHei;
  font-weight: regular;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 10px;
  margin-top: 15px;
}
.contain .content .middle .wordcloud .wordcloud-content {
  height: 252px;
  width: 740px;
  margin-top: 15px;
  margin-bottom: 18px;
}
.contain .content .middle .wordcloud .wordcloud-line {
  width: 772px;
  position: absolute;
  right: 12px;
  bottom: -10px;
  transform: rotate(180deg);
}
.contain .content .right .subtitle1 {
  width: 472px;
  height: 35px;
  position: relative;
  left: 2px;
}
.wordcloud-container {
  width: 100%;
  height: 35px;
  position: relative;
  left: 2px;
}
.wordcloud-container .subtitle-img1 {
  height: 70px;
  width: 100%;
  position: absolute;
  top: -5px;
}
.contain .content .right .subtitle1 .subtitle-text1 {
  color: #75BDFF;
  font-family: YouSheBiaoTiHei;
  font-weight: regular;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 5px;
  text-align: left;
}
.contain .content .right .subtitle1 .subtitle-img1 {
  height: 70px;
  width: 510px;
  position: absolute;
  top: -5px;
}
.bank-range select{
  background: #040711;
  color: #31fbfb;
  height: 100%;
}
.bank-range {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 40px;
  margin: 22px 16px 16px 0;
}
.bank-range .bank-date {
  color: #5CDAEC;
  font-family: PingFang-SC;
}
.bank-range .bank-range-img {
  height: 22px;
  width: 24px;
}
.bank-range .bank-range-text {
  color: #5CDAEC;
  font-family: PingFang-SC;
  font-weight: semibold;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
}
.card-wrap {
  display: flex;
  align-items: center;
}
.card-wrap .mgrt8 {
  margin-right: 8px;
}
.center-card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.center-card-wrap .mgrt8 {
  margin-right: 8px;
}
.card-list {
  height: 143px;
  width: 154px;
  border-radius: 6px;
  border: 1px solid;
  box-shadow: inset 0px 5px 20px 0.5px #2B2E348E;
  border-image: linear-gradient(-180deg, #4192D9 0%, #4192D94C 34%, #4192D94C 69%, #4192D9 100%) 1;
  background-image: linear-gradient(0deg, #08142589 0%, #2F3D5216 100%);
  cursor: pointer;
}
.card-list .card-text {
  color: #5CDAEC;
  font-family: PingFang-SC;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
  padding: 12px 0 10px 12px;
  border-bottom: 1px solid;
  border-image: linear-gradient(90deg, #4192D919 0%, #4192D9 51%, #4192D919 100%) 1;
}
.card-list .card-content {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.card-list .card-content .card-img {
  height: 49px;
  width: 52px;
  margin: 10px 8px 0 8px;
}
.card-list .card-content .card-data {
  margin-top: 8px;
}
.card-list .card-content .card-data .data {
  color: #31FBFB;
  text-shadow: 0px 1px 8px #84D7FFCC;
  font-family: HarmonyOS Sans SC;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0px;
  text-align: left;
}
.card-list .card-content .card-data .text {
  color: #A8D6FF;
  font-family: PingFang-SC;
  font-weight: regular;
  font-size: 8px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
}
.card-list .card-content .card-data .change {
  text-shadow: 0px 1px 4px 0px #84FF9099;
  font-family: HarmonyOS Sans SC;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.6px;
  text-align: left;
}
.card-list .card-content .card-data .up {
  color: #00D68A;
}
.card-list .card-content .card-data .down {
  color: #F85F64;
}
.card-list .card-content .card-data .up-down {
  height: 10px;
  width: 10px;
  margin-left: -3px;
}
.change-page {
  margin-top: 20px;
  margin-bottom: 29px;
  display: flex;
  justify-content: center;
}
.pointTrue {
  height: 6px;
  width: 12px;
  border-radius: 3px;
  background: #03FBFF;
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
}
.pointFalse {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  opacity: 0.6;
  background: #03FBFF;
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
}
.contain .content .right .block2 .pie-content {
  display: flex;
  align-items: center;
  position: relative;
}
.contain .content .right .block2 .pie-content .pie-gif {
  position: absolute;
  height: 204px;
  width: 204px;
  top: 38px;
  left: 25px;
}
.contain .content .right .block2 .pie-content .echarts-pie {
  height: 200px;
  width: 200px;
  margin: 40px 30px 40px 27px;
  z-index: 9;
}
.contain .content .right .block2 .pie-content .pie-center {
  position: absolute;
  z-index: 3;
  color: #FFFFFF;
  text-align: center;
  left: 78px;
  width: 100px;
}
.contain .content .right .block2 .pie-content .pie-img {
  position: absolute;
  height: 126px;
  width: 126px;
  top: 87px;
  left: 64px;
}
.contain .content .right .block2 .pie-content .pie-legend {
  margin-bottom: 20px;
}
.contain .content .right .block2 .pie-content .pie-legend .legend {
  position: relative;
  height: 24px;
  width: 208px;
  background: rgba(108, 128, 151, 0.2);
  color: #FFFFFF;
  font-family: PingFang-SC;
  font-weight: regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contain .content .right .block2 .pie-content .pie-legend .legend:before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  top: 0px;
  left: -3px;
  border: 4px solid transparent;
  border-top: none;
  border-bottom-color: #6C8097;
  transform: rotate(-50deg);
}
.contain .content .right .block2 .pie-content .pie-legend .legend:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  right: -3px;
  bottom: 0px;
  border: 4px solid transparent;
  border-top: none;
  border-bottom-color: #6C8097;
  transform: rotate(130deg);
}
.contain .content .right .block2 .pie-content .pie-legend .pie-legend-img {
  width: 86px;
  margin: 0 5px 0 8px;
}
.contain .content .right .block3 {
  position: relative;
}
.loantrend {
  height: 260px;
  width: 470px;
  margin-top: 22px;
}
.contain .content .right .block3 .block3-line {
  width: 469px;
  height: 7px;
  position: absolute;
  bottom: -3px;
  right: 12px;
  transform: rotate(180deg);
}
.contain .content .card-font8 {
  font-size: 8px !important;
  transform: scale(0.66, 0.66);
  margin-left: -13px;
}
.contain .content .font8 {
  font-size: 8px !important;
  transform: scale(0.66, 0.66);
  transform-origin: left center;
  display: inline-block;
  margin-left: -2px;
}
.contain .content .font10 {
  font-size: 10px;
  transform: scale(0.83, 0.83);
  transform-origin: left center;
  display: inline-block;
  margin-left: -2px;
}
.contain .pointer {
  cursor: pointer;
}
#video-container {
  position: absolute;
  z-index: 1;
}
#video-background {
  width: 27vw;
  height: 55vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
}
#background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
video {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}
.contain-video {
  position: absolute;
  z-index: 99999;
}
.contain-video:hover .video-controls {
  display: block;
}
.contain-video:hover .video-controls-close {
  display: block;
}
.contain-video .video-controls {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  background-size: cover;
  padding: 10px;
  cursor: pointer;
}
.contain-video .video-controls button {
  margin: 0 5px;
}
.contain-video .video-controls-close {
  display: none;
  width: 51px;
  height: 20px;
  position: fixed;
  right: 100px;
  top: 30px;
  cursor: pointer;
  z-index: 9999999;
}
#backVideo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: fill;
}