<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>风险收益水平大屏布局</title>
    <script src="assets/js/echarts.min.js"></script>
    <script src="assets/js/echarts-gl.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/indexTest.css" />
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementIndex.js"></script>
    <link rel="stylesheet" href="assets/css/elementIndex.css">
</head>

<body>
    <div class="dashboard" id="app">
        <!-- 顶部栏 -->
        <header class="dashboard-header">
            <div class="dashboard-header-logo">
                <img src="assets/images/riskAssets/risk_logo.png" alt="" height="40px">
            </div>
            <div class="dashboard-date">
                <el-select v-model="valueDate" placeholder="请选择" @change="handleDateChange($event)">
                    <el-option v-for="item in optionsDates" :key="item.value" :label="item.label" :value="item.value">
                    </el-option>
                </el-select>
            </div>
        </header>

        <!-- 中部三栏 -->
        <main class="dashboard-main">
            <!-- 左侧：条线风险收益 -->
            <section class="dashboard-section section-left">
                <div class="section-title"><span style="margin-left: 30px;">条线风险收益水平情况</span></div>
                <div class="card-group">
                    <div class="card">
                        <div class="section-risk-dangqian-img">
                            <img src="assets/images/riskAssets/icon_dangqian.png" alt="">
                        </div>
                        <div class="section-risk-title">
                            <div class="card-value">3<span class="card-unit">%</span></div>
                            <div class="card-label">当前风险收益水平</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="section-risk-dangqian-img">
                            <img src="assets/images/riskAssets/icon_dangqian.png" alt="">
                        </div>
                        <div class="section-risk-title">
                            <div class="card-value">2.68<span class="card-unit">%</span></div>
                            <div class="card-label">年初风险收益水平</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="section-risk-dangqian-img">
                        <img src="assets/images/riskAssets/icon_jiaonianchuup.png" alt="">
                    </div>
                    <div class="section-risk-title">
                        <div class="section-risk-red">0.32<span class="section-risk-red-rate">%</span></div>
                        <div class="card-label">较年初变化</div>
                    </div>
                </div>
                <!-- 饼图 -->
                <div class="echarts-3d" ref="pieChartRef" id="stripLineEcharts"></div>
                <div class="legend-wrap-3d">
                    <div class="legend-3d" v-for="item of legendList" @click="clickLegend(item.name)"
                        :class="item.color">{{ item.name }}</div>
                </div>
            </section>

            <!-- 中间：机构风险收益 -->
            <section class="dashboard-section section-center">
                <div class="section-title"><span style="margin-left: 30px;">机构风险收益水平情况表</span></div>
                <div class="card-group">
                    <div class="card card-blue">
                        <div class="section-risk-dangqian-img">
                            <img src="assets/images/riskAssets/icon_dangqian23.png" alt="">
                        </div>
                        <div class="section-risk-title">
                            <div class="section-risk-span">
                                <span>2.68</span>
                                <span class="section-risk-span-rate">%</span>
                            </div>
                            <div class="card-label">当前风险收益水平</div>
                        </div>

                    </div>
                    <div class="card card-blue">
                        <div class="section-risk-dangqian-img">
                            <img src="assets/images/riskAssets/icon_dangqian23.png" alt="">
                        </div>
                        <div class="section-risk-title">
                            <div class="section-risk-span">
                                <span>2.68</span>
                                <span class="section-risk-span-rate">%</span>
                            </div>
                            <div class="card-label">年初风险收益水平</div>
                        </div>

                    </div>
                    <div class="card card-green">
                        <div class="section-risk-dangqian-img">
                            <img src="assets/images/riskAssets/icon_jiaonianchudown23.png" alt="">
                        </div>
                        <div class="section-risk-title">
                            <div class="section-risk-bule">
                                <span>0.32</span>
                                <span class="section-risk-blue-rate">%</span>
                            </div>
                            <div class="card-label">较年初变化</div>
                        </div>

                    </div>
                </div>
                <!-- 地图 -->
                <div class="section-map" id="mapDiv" style="height: 100%; width: 100%"></div>
            </section>

            <!-- 右侧：产品风险收益 -->
            <section class="dashboard-section section-right">
                <div class="section-title"><span style="margin-left: 30px;">产品风险收益水平情况</span></div>
                <div class="card-group">
                    <div class="card card-blue">
                        <div class="card-value">3<span class="card-unit">%</span></div>
                        <div class="card-label">当前风险收益水平</div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-value">2.68<span class="card-unit">%</span></div>
                        <div class="card-label">年初风险收益水平</div>
                    </div>
                    <div class="card card-red">
                        <div class="card-value">0.32<span class="card-unit">%</span></div>
                        <div class="card-label">较年初变化</div>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card card-blue">
                        <div class="card-value">3<span class="card-unit">%</span></div>
                        <div class="card-label">当前风险收益水平</div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-value">2.68<span class="card-unit">%</span></div>
                        <div class="card-label">年初风险收益水平</div>
                    </div>
                    <div class="card card-red">
                        <div class="card-value">0.32<span class="card-unit">%</span></div>
                        <div class="card-label">较年初变化</div>
                    </div>
                </div>
                <div class="echarts-3d">
                    <div class="carousel3d-container">
                        <div @click="prev" class="btn3d">
                            <img src="assets/images/riskAssets/icon_jiantou.png" alt="">
                        </div>
                        <div>
                            <div class="carousel3d-title">
                                <div class="carousel3d-title-per"><span>个人信贷产品</span></div>
                                <div class="carousel3d-title-number">
                                    <div><span>有效产品总数</span></div>
                                    <div><span>27</span></div>
                                </div>
                            </div>
                            <div class="carousel3d-wrap">
                                <!-- <button class="carousel-btn prev" @click="prev">&#8592;</button> -->
                                <div class="carousel3d" ref="carousel3d" @mouseenter="pause" @mouseleave="resume"
                                    :style="carouselStyle">
                                    <div v-for="(item, i) in items" :key="i" class="carousel-item" :style="itemStyle(i)"
                                        @mouseenter="showTooltip(item, $event)" @mousemove="moveTooltip($event)"
                                        @mouseleave="hideTooltip">
                                        <div class="brick3d">
                                            <div v-for="j in segCount" :key="j" class="brick-segment"
                                                :style="segmentStyle(j-1)"></div>
                                        </div>
                                        <div class="carousel-item-label">{{ item }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <button class="carousel-btn next" @click="next">&#8594;</button> -->
                            </div>
                            <div class="carousel3d-title">
                                <div class="carousel3d-title-per"><span>对公信贷产品</span></div>
                                <div class="carousel3d-title-number">
                                    <div><span>有效产品总数</span></div>
                                    <div><span>27</span></div>
                                </div>
                            </div>
                            <div class="carousel3d-wrap-person">
                                <!-- <button class="carousel-btn prev" @click="prev">&#8592;</button> -->
                                <div class="carousel3d" ref="carousel3d" @mouseenter="pausePerson"
                                    @mouseleave="resumePerson" :style="carouselStylePerson">
                                    <div v-for="(item, i) in itemsPerson" :key="i" class="carousel-item"
                                        :style="itemStylePerson(i)" @mouseenter="showTooltip(item, $event)"
                                        @mousemove="moveTooltip($event)" @mouseleave="hideTooltip">
                                        <div class="brick3d">
                                            <div v-for="j in segCountPerson" :key="j" class="brick-segment"
                                                :style="segmentStylePerson(j-1)"></div>
                                        </div>
                                        <div class="carousel-item-label">{{ item }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <button class="carousel-btn next" @click="next">&#8594;</button> -->
                            </div>
                        </div>
                        <div @click="next" class="btn3d">
                            <img src="assets/images/riskAssets/right_jiantou.png" alt="">
                        </div>
                        <div v-if="tooltip.show" class="custom-tooltip"
                            :style="{ left: tooltip.x + 'px', top: tooltip.y + 'px' }">
                            {{ tooltip.text }}
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- 客户风险收益水平 -->
        <div class="section-split-img">
            <span class="section-split-title">客户风险收益水平情况表</span>
        </div>
        <!-- 底部 -->
        <footer class="dashboard-footer">
            <div class="footer-section">
                <div class="card-group">
                    <div class="card card-blue">
                        <div class="card-value">3<span class="card-unit">%</span></div>
                        <div class="card-label">当前风险收益水平</div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-value">2.68<span class="card-unit">%</span></div>
                        <div class="card-label">年初风险收益水平</div>
                    </div>
                    <div class="card card-green">
                        <div class="card-value">0.32<span class="card-unit">%</span></div>
                        <div class="card-label">较年初变化</div>
                    </div>
                </div>
            </div>
            <div class="footer-section">
                <div class="echarts-timeline">
                    <!-- 时间轴 -->
                    <div class="timeline-horizontal-container" id="timeline-horizontal-container">
                        <div class="timeline-horizontal-content">
                            <div @click="prevPage" :disabled="pageIndex === 0">
                                <img src="assets/images/riskAssets/icon_jiantou.png" alt="">
                            </div>
                            <!-- <el-button @click="prevPage" :disabled="pageIndex === 0" icon="el-icon-arrow-left"></el-button> -->
                            <div class="timeline-horizontal">
                                <div v-for="(item, idx) in visibleData" :key="item.id" class="timeline-horizontal-item"
                                    :class="{ 'fade-in': showItems[idx] }" ref="timelineItem"
                                    class="timeline-horizontal-item">
                                    <!-- <div class="timeline-dot"></div> -->
                                    <!-- <div class="timeline-label">{{ item.year }}</div> -->
                                    <!-- 在第2和第3个时间点之间插入提示框 -->
                                    <template v-if="item.tip">
                                        <div class="between-tip-box">
                                            <div class="tip-content">
                                                2020年<br>
                                                某政府数字化转型
                                            </div>
                                            <!-- 连接线 -->
                                            <div class="tip-connector"></div>
                                        </div>
                                    </template>
                                    <el-popover placement="bottom" width="200" trigger="hover" :content="item.desc">
                                        <div slot="reference" class="timeline-dot"></div>
                                    </el-popover>
                                    <div class="timeline-label">
                                        <div class="itemLine-green">{{ item.year }}</div>
                                        <div>{{ item.platform }}</div>
                                        <div>{{ item.desc }}</div>
                                    </div>
                                </div>
                            </div>
                            <div @click="nextPage" :disabled="endIndex >= elementTimeLineData.length">
                                <img src="assets/images/riskAssets/right_jiantou.png" alt="">
                            </div>
                            <!-- <el-button @click="nextPage" :disabled="endIndex >= elementTimeLineData.length"
                            icon="el-icon-arrow-right"></el-button> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/createVue.js"></script>
    <script src="assets/js/map.js"></script>
</body>

</html>