<!--
 * @Author: wonder1218 zhengwen_man@163.com
 * @Date: 2025-05-26 17:28:14
 * @LastEditors: wonder1218 zhengwen_man@163.com
 * @LastEditTime: 2025-06-23 10:32:15
 * @FilePath: \ECharts\大屏示例.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>大屏示例</title>
  <!-- 引入 ECharts -->
  <script src="assets/js/echarts.min.js"></script>
  <script src="assets/js/echarts-gl.min.js"></script>
  <script src="assets/js/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/index.css" />
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/elementIndex.js"></script>
  <!-- <script src="assets/js/global.js"></script> -->
  <!-- <script src="./assets/js/three.core.min.js"></script>
  <script src="assets/js/OrbitControls.js"></script>
  <script src="assets/js/tween.umd.js"></script> -->
  <!-- 引入样式 -->
  <link rel="stylesheet" href="assets/css/elementIndex.css">
  <style>
    #map-container {
      width: 100%;
      height: 600px;
    }
  </style>
</head>

<body>
  <div class="contain" id="app">
    <!-- 顶部 -->
    <div class="top">
      <div class="logo-img">
        <p style="font-size: 30px">XXXXlogo</p>
      </div>
      <div class="title">风险收益水平管理驾驶舱</div>
      <img class="close-img" src="assets/images/screenfull/close.png" />
    </div>
    <!-- 内容 -->
    <div class="content">
      <!-- 上边 -->
      <div class="topContainer">
        <div class="map">
          <img class="map-bg" src="assets/images/screenfull/map_bg.png" />
          <img class="map-round-bg" src="assets/images/screenfull/map_bg_round.png" />
          <img class="map-top-bg" src="assets/images/screenfull/maptop_bg.png" />
          <img class="mapline-top" src="assets/images/screenfull/mapLine_top.png" />
          <img class="mapline-bottom" src="assets/images/screenfull/mapLine_bottom.png" />
          <img class="mapline-left" src="assets/images/screenfull/mapLine_left.png" />
          <img class="mapline-right" src="assets/images/screenfull/mapLine_right.png" />
          <div id="container"></div>
          <div class="center-label" style="line-height: 1.1; text-align: center;">32%<br><span
              style="font-size:28px;font-weight:normal;">项目数</span></div>
          <button id="btn-prev" class="btn prev">&#8592;</button>
          <button id="btn-next" class="btn next">&#8594;</button>
          <div class="popup" id="popup"></div>
        </div>
        <div class="map">
          <img class="map-bg" src="assets/images/screenfull/map_bg.png" />
          <img class="map-round-bg" src="assets/images/screenfull/map_bg_round.png" />
          <img class="map-top-bg" src="assets/images/screenfull/maptop_bg.png" />
          <img class="mapline-top" src="assets/images/screenfull/mapLine_top.png" />
          <img class="mapline-bottom" src="assets/images/screenfull/mapLine_bottom.png" />
          <img class="mapline-left" src="assets/images/screenfull/mapLine_left.png" />
          <img class="mapline-right" src="assets/images/screenfull/mapLine_right.png" />
          <div id="mapDiv" style="height: 600px; width: 800px"></div>
        </div>
      </div>
      <!-- 下边 -->
      <div class="bottomContainer">
        <!-- 条线纬度 -->
        <div style="width: 50%;">
          <div class="customer-monitor">
            <div class="subtitle">
              <div class="subtitle-text pointer">条线纬度</div>
              <img class="subtitle-img" src="assets/images/screenfull/risk_title_bg.png" />
            </div>
            <div class="button-wrap">
              <!-- <el-select v-model="valueLine" placeholder="请选择" @change="handleLineChange">
              <el-option v-for="item in optionsLine" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select> -->
            </div>
            <div class="customer">
              <div class="card-wrap">
                <div class="card-list mgrt8">
                  <div class="card-text">本期风险收益水平</div>
                  <div class="card-content">
                    <img class="card-img" src="assets/images/screenfull/cardImg1.png" />
                    <div class="card-data">
                      <div class="data" style="margin-bottom: 20px">
                        <span style="letter-spacing: -0.5px">1.68</span>
                        <span class="font8" style="margin-right: -7px; margin-left: 1px">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-wrap">
                <div class="card-list mgrt8">
                  <div class="card-text">年初风险收益水平</div>
                  <div class="card-content">
                    <img class="card-img" src="assets/images/screenfull/cardImg1.png" />
                    <div class="card-data">
                      <div class="data" style="margin-bottom: 20px">
                        <span style="letter-spacing: -0.5px">1.89</span>
                        <span class="font8" style="margin-right: -7px; margin-left: 1px">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-wrap">
                <div class="card-list mgrt8">
                  <div class="card-text">较年初</div>
                  <div class="card-content">
                    <img class="card-img" src="assets/images/screenfull/down.png" />
                    <div class="card-data">
                      <div class="data" style="margin-bottom: 20px">
                        <span style="letter-spacing: -0.5px">0.21</span>
                        <span class="font8" style="margin-right: -7px; margin-left: 1px">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pie-3d" ref="pieChartRef" id="stripLineEcharts"></div>
          <div class="legend-wrap-3d">
              <div class="legend-3d" v-for="item of legendList" @click="clickLegend(item.name)" :class="item.color">{{ item.name }}</div>
          </div>
          <img class="pie-3d-line" src="assets/images/screenfull/mapLine_bottom.png" />
        </div>
        <!-- 客户线 -->
        <div style="width: 50%;">
          <div class="wordcloud" style="margin-left: 125px;">
            <div class="subtitle">
              <div class="subtitle-text pointer">客户风险收益水平情况表</div>
              <img class="subtitle-img" src="assets/images/screenfull/risk_title_bg.png" />
            </div>
            <div class="button-wrap">
              <!-- <el-select v-model="valueLine" placeholder="请选择" @change="handleLineChange">
              <el-option v-for="item in optionsLine" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select> -->
            </div>
            <div class="customer">
              <div class="card-wrap">
                <div class="card-list mgrt8">
                  <div class="card-text">本期风险收益水平</div>
                  <div class="card-content">
                    <img class="card-img" src="assets/images/screenfull/cardImg1.png" />
                    <div class="card-data">
                      <div class="data" style="margin-bottom: 20px">
                        <span style="letter-spacing: -0.5px">1.68</span>
                        <span class="font8" style="margin-right: -7px; margin-left: 1px">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-wrap">
                <div class="card-list mgrt8">
                  <div class="card-text">年初风险收益水平</div>
                  <div class="card-content">
                    <img class="card-img" src="assets/images/screenfull/cardImg1.png" />
                    <div class="card-data">
                      <div class="data" style="margin-bottom: 20px">
                        <span style="letter-spacing: -0.5px">1.89</span>
                        <span class="font8" style="margin-right: -7px; margin-left: 1px">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-wrap">
                <div class="card-list mgrt8">
                  <div class="card-text">较年初</div>
                  <div class="card-content">
                    <img class="card-img" src="assets/images/screenfull/down.png" />
                    <div class="card-data">
                      <div class="data" style="margin-bottom: 20px">
                        <span style="letter-spacing: -0.5px">0.21</span>
                        <span class="font8" style="margin-right: -7px; margin-left: 1px">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div style="position:relative;width:625px;">
              <button id="leftBtn" style="position:absolute;left:0;top:50%;z-index:10;" @click="prevItem()"  class="btn prev">&#8592;</button>
              <div id="timeLineEcharts" class="timeLineEcharts"></div>
              <button id="rightBtn" style="position:absolute;right:0;top:50%;z-index:10;" @click="nextItem()" class="btn next">&#8594;</button>
            </div> -->
            <div class="timeline-horizontal-container" id="timeline-horizontal-container">
              <div class="timeline-header">
                <span class="timeline-title">我是小标题呀</span>
              </div>
              <div class="timeline-horizontal-content">
                <el-button @click="prevPage" :disabled="pageIndex === 0" icon="el-icon-arrow-left"></el-button>
                <div class="timeline-horizontal">
                  <div v-for="(item, idx) in visibleData" :key="item.id" class="timeline-horizontal-item"
                    :class="{ 'fade-in': showItems[idx] }" ref="timelineItem" class="timeline-horizontal-item">
                    <!-- <div class="timeline-dot"></div> -->
                    <!-- <div class="timeline-label">{{ item.year }}</div> -->
                    <!-- 在第2和第3个时间点之间插入提示框 -->
                    <template v-if="item.tip">
                      <div class="between-tip-box">
                        <div class="tip-content">
                          XXX年<br>
                          某政府数字化转型
                        </div>
                        <!-- 连接线 -->
                        <div class="tip-connector"></div>
                      </div>
                    </template>
                    <el-popover placement="top" width="200" trigger="hover" :content="item.popContent">
                      <div slot="reference" class="timeline-dot"></div>
                    </el-popover>
                    <div class="timeline-label">
                      <div>{{ item.year }}</div>
                      <div>{{ item.platform }}</div>
                      <div>{{ item.desc }}</div>
                    </div>
                  </div>
                </div>
                <el-button @click="nextPage" :disabled="endIndex >= elementTimeLineData.length"
                  icon="el-icon-arrow-right"></el-button>
              </div>
            </div>
            <img class="wordcloud-line" src="assets/images/screenfull/mapLine_bottom.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="./assets/js/three.core.min.js"></script> -->
  <script type="module" src="assets/js/createThree.js"></script>
  <script src="assets/js/createVue.js"></script>
  <script src="assets/js/map.js"></script>
  <!-- <script src="assets/js/lineEcharts.js"></script> -->
</body>

</html>